<div class="container">
  <div al>
    <form action="/answer">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" class="form-control" name="query" placeholder="what time is it?">
      <input class="btn btn-primary" type="submit" value="Go on!">
    </form>
  </div>
</div>
